/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/
/* 
html { 
  background: url(../images/cc.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Raleway, Helvetica, sans-serif;
}

.bg-container {
    background: url() no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    height:640px;
    margin:10px;
}

h1 {
     font-size:48px;
     margin:10px 0px;
}


/******************************************
/* LAYOUT                   
/*******************************************/
header {
     height:40px;
     width:100%;
     position: fixed;
     background:#000;
     color:#fff;
     background:rgba(0,0,0,0.2);
     padding-left:20px;
     padding-right:20px;
}

.logo {
     float:left;
     padding-top:10px;
     font-size:16px;
     font-weight: bold;
     letter-spacing: 1px;
}

.headline {
     padding-top:12px;
     letter-spacing: 1px;
}

.about {
     float:right;
     padding-right:10px;
}

.profile {
     height:30px;
     border-radius: 15px;
     position: relative;
     top:5px;
}

.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.clock {
    width: 540px;
    margin: 0 auto;
    padding: 30px;
    color: #FFF;
    position: relative;
    top:180px;
    background:rgba(0,0,0,0.2);
}

#Date {
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
}

ul {
    width: 500px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 10em;
    text-align: center;
}

#ampm {
     text-transform: uppercase;
     color:#FFF;
     font-size: 6em;
     letter-spacing: 1px;
     display: inline-block;
     margin-left:15px;
}

.info {
     width: 800px;
     margin: 0 auto;
     padding: 30px;
     color: #000;
     position: absolute;
     bottom:30px;
     margin-left:50%;
     left:-400px;
     text-align: center;
}

.info h2 {
     font-size:16px;
     margin:15px;
     font-style: italic;
}

.info h4 {
     font-size:12px;
     text-transform: uppercase;
}

.info a {
    color:#000;
}

#point {
    position: relative;
    /* 
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    */
    padding-left: 10px;
    padding-right: 10px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
}    
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
    };
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




